/* Two columns: images, and notes (text). */
/* .outer-image-and-notes-container {
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 2px;
  border: 2px solid black;
  margin-top: 2em;
  margin-bottom: 2em;
}
.inner-notes {
  grid-column: 2;
  grid-row: 1;
}
.inner-images {
  grid-column: 1;
  grid-row: 1;
}
.inner-image {
  display: block;
  border: 1px solid grey;
}
*/

/* Two columns: images, and notes (text). */
.outer-image-and-notes-container {
  display: flex;
  border: 2px solid black;
  margin-top: 2em;
  margin-bottom: 2em;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 70px;
}
.inner-notes {
  /* flex-shrink: 1; */
  flex-grow: 1;
  max-width: 100%;
  /* max-width: 20em; */
  /* outline: 1px solid blue; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.inner-images {
  max-width: 100%;
  flex-shrink: 0;
  /* outline: 1px solid yellow; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.inner-image {
  position: relative;
  display: block;
  border: 1px solid grey;
  margin-top: 2px;
  margin-bottom: 2px;
  max-width: 100%;
}
