---
layout: default
---

<div class="home">

  <h1 class="page-heading">{% if layout.showonly %}{% if layout.showonly == "better" %}Selected posts (click <a href={{"/all" | relative_url }}>here</a> for all posts){% else %}Posts tagged {{layout.showonly}}{% endif %}{% else %}All posts (read at your own risk){% endif %}</h1>

  {{ content }}

  <ul class="post-list">
    {% if layout.showonly %}
        {% assign postsToShow = site.tags[layout.showonly] %}
    {% else %}
        {% comment %} For all posts (not specific to a tag), can use "site.posts" {% endcomment %}
        {% assign postsToShow = site.tags["done"] %}
    {% endif %}
    {% for post in postsToShow %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% if post.tags contains "continue" and layout.showContinue %}
           {% assign prefix = "(...) " %}
        {% else %}
          {% assign prefix = "" %}
        {% endif %}
        {% if layout.showonly != "better" and post.tags contains "better" %}
           {% capture prefix %}★ {{prefix }}{% endcapture %}
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{prefix}}{{ post.title | escape }}</a>
        </h2>
        <p>{{post.excerpt}}</p>
        <span class="post-meta">
          {{ post.date | date: date_format }}
          &bull;
          {{post.content | number_of_words}} words (≈{{ post.content | number_of_words | divided_by: 250 | plus: 2}} minutes)</span>
          &bull;
          {% assign printed = false %}{% for tag in post.tags %}{% if tag != "done" and tag != "draft" and tag != "better"%}{% if printed %}, {% endif %}{{tag}}{% assign printed = true %}{% endif %}{% endfor %}
      </li>
    {% endfor %}
  </ul>

  {% comment %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endcomment %}

</div>


